@{
    ViewBag.Title = "Home Page";
}


<div>
    <h2 style="text-align:center;">
        Welcome to Roof Top Restaurant & Cafe
    </h2>
    </br>
    <h2>

    </h2>
</div>
<div>
    <img src="~/Image/rooftop.jpg" style="display:block; margin-left:auto; margin-right:auto; top:50%" />
</div>

