@model Restaurant_Management_System.Models.LoginModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm("ForgotPassword","Login",FormMethod.Post))
{
                <table style="margin-left:50px">
                   <tr>
                        <td>@Html.LabelFor(a => a.UserName)</td>
                        <td>@Html.TextBoxFor(a => a.UserName, new { @class = "", placeholder = "Enter Username", style = "margin-bottom:7px;" })</td>
                        <td>@Html.ValidationMessageFor(a => a.UserName)</td>
                   </tr>
                   <tr>
                        <td>
                            <input type="submit" value="Send" />
                        </td>
                   </tr>
                </table>
}
    